<div class="upper-navbar-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h1>POSTINGA</h1>
                <sub>Posteo colectivo.</sub>
            </div>
            <div class="col-3 offset-6 d-flex align-items-center">
                <a href="#" class="align-middle">Identificarme</a>
                <a href="#">REGISTRATE YA!</a>
            </div>
        </div>
    </div>
</div>
<div class="middle-navbar-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <a href="#" class="active">Posts</a>
                <a href="#">Comunidades</a>
                <a href="#">TOP</a>
            </div>
            <div class="col-2">
                <a href="#">
                    <div class="global"></div>
                    <span>&nbsp;&nbsp; Global</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="lower-navbar-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                asdf
            </div>
        </div>
    </div>
</div>